.job-logo-title-container {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

.title, .job {
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.job-logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.logo {
    width: 400px;
    margin-top: 10px;
}

.job {
    font-size: 45px;
    font-weight: 400;
}

.services-grid {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: Roboto;
    margin-top: 50px;
}

.img-grid {
    display: flex;
    column-gap: 50px;
    padding-left: 30px;
    padding-right: 20px;
}

.img-container-health, .img-container-desires, .img-container-pension {
    max-width: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-container-health img, .img-container-desires img, .img-container-pension img {
    width: 70%;
}

.img-container-health {
    margin-top: 80px;
}

.img-container-pension {
    margin-top: 40px;
}

.grid-column {
    max-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grid-img {
    width: 100%;
}

.grid-content {
    line-height: 200%;
    font-weight: 100;
    font-size: 16px;
}

.grid-title {
    font-weight: 500;
}



@media (max-width: 1200px) {
    .job-logo-container {
        grid-template-columns: 1fr;
        justify-items: center;
        height: 2000px;
    }
    .services-grid {
        flex-direction: column;
        row-gap: 100px;
    }
    .grid-column {
        max-width: fit-content;
    }
    .img-container-pension, .img-container-health, .img-container-desires {
        max-width: fit-content;
        align-items: center;
        justify-content: center;
    }
    .img-container-pension img, .img-container-health img, .img-container-desires img {
        width: 30%;
    }
}

/*@media (min-width: 751px) and (max-width: 1010px) {
    .grid-content {
        font-size: 2vw;
    }
}

@media (min-width: 1011px) {
    .grid-content {
        font-size: 21px;
    }
}*/